<td><button data-id="{{id}}" class="btnPlay">play</button></td>
<td><a href="/#search/1/artist:({{artist}})">{{artist}}</a></td>
<td><a href="/#search/1/album:({{album}})">{{album}}</a></td>
<td>{{track}}</td>
<td><a href="/#search/1/title:({{title}})">{{title}}</a></td>
<td>{{durationFormated}}</td>
<td>{{sizeFormated}}</td>
<td><button data-id="{{id}}" class="btnRemove">remove</button></td>
